{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
    <!-- js dependencies -->
    <script src="{{d3}}"></script>
    <script src="{{jquery}}"></script>
    <script src="{{boot_js}}"></script>
    <script src="{{vkbeautify}}"></script>
    <script src="{{colorbrewer}}"></script>
    <!--style sheets-->
    <link rel="stylesheet" href="{{boot_css}}"/>
    <!--ddt-->
    <script src="{{ddt}}"></script>
    <!-- ddt js dependencies -->
    <script src="js/d3_tile.js"></script>
    <script src="js/d3_svg.js"></script>
    <script src="js/d3_data.js"></script>
    <script src="js/d3_map2d.js"></script>
    <script src="js/d3_table.js"></script>
    <script src="js/d3_html.js"></script>
    <script src="js/d3_chart2d.js"></script>
    <script src="js/d3_chart2d_boxandwhiskers.js"></script>
    <script src="js/d3_chart2d_heatmap.js"></script>
    <script src="js/d3_chart2d_horizontalbars.js"></script>
    <script src="js/d3_chart2d_line.js"></script>
    <script src="js/d3_chart2d_packlayout.js"></script>
    <script src="js/d3_chart2d_points.js"></script>
    <script src="js/d3_chart2d_verticalbars.js"></script>
    <script src="js/d3_chart2d_treelayout.js"></script>
    <script src="js/ddt_table.js"></script>
    <script src="js/ddt_table_responsivetable_01.js"></script>
    <script src="js/ddt_svg.js"></script>
    <script src="js/ddt_svg_scatterlineplot2d_01.js"></script>
    <script src="js/ddt_svg_scatterplot2d_01.js"></script>
    <script src="js/ddt_svg_volcanoplot2d_01.js"></script>
    <script src="js/ddt_svg_heatmap2d_01.js"></script>
    <script src="js/ddt_svg_pcaplot2d_scores_01.js"></script>
    <script src="js/ddt_svg_verticalbarschart2d_01.js"></script>
    <script src="js/ddt_svg_boxandwhiskersplot2d_01.js"></script>
    <script src="js/ddt_html.js"></script>
    <script src="js/ddt_html_form_01.js"></script>
    <script src="js/ddt_html_datalist_01.js"></script>
    <script src="js/ddt_html_href_01.js"></script>
    <script src="js/ddt_html_media_01.js"></script>
    <script src="js/ddt_tile.js"></script>
    <script src="js/ddt_container.js"></script>
    <!-- This font cannot be downloaded. -->
    <script src="//use.edgefonts.net/tulpen-one.js"></script>
{% endblock %}

{% block header %}
<header class="row">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="title-box">
                    <h3 id="title">{{title_header}}</h3>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
{% block nav %}{% endblock %}
{% block main %}
<main>
    <div class="container" id="container">
    </div>
</main>
{% endblock %}
{% block footer %}
<footer>
    <div class="container">
        <p class="more">
            Learn more about <a href="{{github}}">this project</a>
        </p>
        <p class="version">
            Version {{version}}
        </p>
    </div>
</footer>
{% endblock %}
{% block script %}
<script type="text/javascript">
    //ddt data and template
    {{ddt_data}}
    ddt_test = new ddt_container();
    ddt_test.set_parameters(parameters);
    ddt_test.add_data(data);
    ddt_test.set_tile2datamap(tile2datamap);
    ddt_test.make_container();
    if (typeof filtermenu !== "undefined") { ddt_test.add_datafiltermenubuttons(filtermenu); }
    else { ddt_test.add_datafiltermenubuttons(); };
</script>
{% if web_version %}
<script src="{{index_gh_pages_js}}"></script>
{% else %}
<!--<script>setup()</script>-->
{% endif %}
{% endblock %}
