{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
    <!-- js dependencies -->
    <script src="{{d3}}"></script>
    <script src="{{jquery}}"></script>
    <script src="{{boot_js}}"></script>
    <script src="{{vkbeautify}}"></script>
    <script src="{{colorbrewer}}"></script>
    <!--style sheets-->
    <link rel="stylesheet" href="{{boot_css}}"/>
    <!--ddt-->
    <script src="{{ddt}}"></script>
    <!--<script src="{{d3_chart2d}}"></script>
    <script src="{{d3_chart2d_boxandwhiskers}}"></script>
    <script src="{{d3_chart2d_heatmap}}"></script>
    <script src="{{d3_chart2d_horizontalbars}}"></script>
    <script src="{{d3_chart2d_line}}"></script>
    <script src="{{d3_chart2d_packlayout}}"></script>
    <script src="{{d3_chart2d_points}}"></script>
    <script src="{{d3_chart2d_treelayout}}"></script>
    <script src="{{d3_chart2d_verticalbars}}"></script>
    <script src="{{d3_data}}"></script>
    <script src="{{d3_graph2d}}"></script>
    <script src="{{d3_map2d}}"></script>
    <script src="{{d3_svg}}"></script>
    <script src="{{d3_tile}}"></script>-->
    <!-- This font cannot be downloaded. -->
    <script src="//use.edgefonts.net/tulpen-one.js"></script>
{% endblock %}

{% block header %}
<header class="row">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="title-box">
                    <h3 id="title">{{title_header}}</h3>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
{% block nav %}{% endblock %}
{% block main %}
<main>
    <div class="container" id="container">
        <div class="row" id="row1">
            <div class="col-sm-12" id="col1">
                <div id="tile1">
                </div>
            </div>
        </div>
    </div>
    <!--<div class="container" id="input">
        <div class="row">
            <div class="col-sm-12">
                <div id="tile3title-box">
                    <h3 id="tile3title">filter menu</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <button class="btn btn-default column-button" id="tile3removebutton">remove</button>
            </div>
        </div>
        <div class="row" id="tile3textarearow">
            <div class="col-sm-12" id="tile3textareacolsample_name_abbreviation">
                data file name
                <br>
                <input value="data_scatterlineplot.js">
            </div>
            <div class="col-sm-12" id="tile3textareacolcalculated_concentration_units">
                visualization file name
                <br>
                <input value="scatterlineplot2d.js">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <button class="btn btn-default column-button" id="submit">
                    submit
                </button>
            </div>
        </div>
    </div>-->
</main>
{% endblock %}
{% block footer %}
<footer>
    <div class="container">
        <p class="more">
            Learn more about <a href="{{github}}">this project</a>
        </p>
        <p class="version">
            Version {{version}}
        </p>
    </div>
</footer>
{% endblock %}
{% block script %}
<script type="text/javascript">
    //ddt data and template
    {{ddt_data}}
    {{ddt_template}}
    ddt_template(data1, data1_keys, data1_nestkeys, data1_keymap, parameters);
</script>
{% if web_version %}
<script src="{{index_gh_pages_js}}"></script>
{% else %}
<!--<script>setup()</script>-->
{% endif %}
{% endblock %}
